/*atom live server*/

body{
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  color: #2b2c26;
}

.pr_main__iteminfo {
  background-color: #f8fdf2;
  margin-top: 13px;
}

.pr_container {
  width: 65%;
  margin: 0 auto;
  padding-top: 15px;
}
.iteminfo__backtobtn_arrow {
  width: 15px;
  margin-right: 10px;
  margin-bottom: -2px;
}

.iteminfo__backtobtn {
  text-decoration: none;
  color: black;
  font-size: 12px;
  text-transform: uppercase;
}

.iteminfo__backtobtn:hover{
  color: #94b649;
}

.pr_product {
  margin-top: 10px;
  height: 400px;
  position: relative;
}

.pr_product__itemphoto {
  background-color: white;
  text-align: center;
  width: 40%;
  max-height: 350px;
  float: left;
  margin-right: 30px;
}

.pr_product__img {
  max-height: 350px;
  object-fit: contain;
}

.pr__product__prodname {
  font-size: 28px;
  margin-bottom: 0;
  color: #292d34;
}

.pr_prodname__category {
  color: #8c8d8e;
  margin: 0;
  cursor: pointer;
  font-size: 12px;
}

.pr_prodname__category:hover{
text-decoration: underline;
color: #94b649;
}

.pr_pdoduct__description__title {
  color: #94b649;
}

.pr_pdoduct__description__text {
  color: #292d34;
  font-size: 14px;
}

.pr_price {
  clear: both;
  position: absolute;
  bottom: 40px;
  left: 43%;
  font-size: 58px;
  color:  #94b649;
  margin-bottom: 0;
}

.pr_buybtn {
  cursor: pointer;
  position: absolute;
  right: 0px;
  bottom: 55px;
  height: 40px;
  font-size: 18px;

}

.pr_quantity {
  float: right;
  color: #2b2c26;
  font-size: 12px;
  font-weight: 100;
  margin-top: 70px;
}

.pr_quantity::before {
  content: 'In stock: '
}

.pr_reviews__list {
  list-style: none;
  width: 100%;
  height: 300px;
  padding: 0;
}

.pr_items__username::before {
  content: 'User:';
  color: #94b649;
  margin-right: 5px;
}

.pr_items__username {
  float: left;
  font-size: 12px;
  color: grey;
}

.pr_items__username_img {
width: 15px;
float: left;
margin-top: 11px;
margin-right: 5px;
}

.pr_items__date {
  float: right;
  color: grey;
  font-size: 12px;
}

.pr__items__text {
  font-size: 14px;
}

hr{
  clear: both;
  color: #f2f2f2;
}

.pr_reviews__windowblock {
  background-color: #f8fdf2;
  margin-top: 30px;
}

.pr_reviews__window__title {
  margin-top: 20px;
}

.pr_reviews__window__yourinfo {
  font-size: 12px;
  color: grey;
}

.pr_textarea__user {
  display: block;
  width: 20%;
  height: 20px;
  margin-bottom: 15px;
  border: 0px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;
}
.pr_textarea__text {
  width: 50%;
  border-radius: 2px;
  border: 0px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;
}

.pr__commentbtn {
  height: 30px;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.pr_btn {
  width: 200px;
  font-weight: 400;
  border: 0px;
  border-radius: 2px;
  color: #004a2b;
  background-color: #94b649;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}

.pr_btn:hover {
  background-color: #2b2c26;
  color: white;
}
