.sc_hat {
  max-width: 900px;
  text-align: center;
  display: block;
  margin: auto;
  width: unset;
  position: relative;
  box-shadow: 2px 2px 8px #cccccc;
}

.navigation {
  padding: 10px;
  box-sizing: border-box;
}

.navigation_link {
  line-height: 2;
}

.sc_header__cart {
  position: relative;
  background-color: #BDCB96;
  border-radius: 50%;
  display: inline-block;
  padding: 10px;
  position: absolute;
  right: 20px;
  top: 80px;
  box-shadow: 1px 2px 8px #cccccc;
}

.sc_header__cart:hover {
  transform: scale(1.1);
}

.cart {
  padding: 0;
  float: none;
  vertical-align: middle;
}

.cart:hover {
  transform: rotate(30deg);
}

.sc_shopping-cart__container{
  position: relative;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  min-width: 900px;
  font-family: 'Roboto', sans-serif;
}

.sc_shopping-cart {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  min-width: 900px;
  background-color: #FEFEFE;
  box-shadow: 2px 2px 8px #cccccc;
}

.sc_shopping-cart__heading {
  text-align: center;
  color: #4100AA;
  text-shadow: 1px 1px #EFA133;
}

.sc_shopping-cart__items {
  border-collapse: collapse;
  table-layout: fixed;
  margin: 10px;


}

.sc_shopping-cart__top-right-sum {
  color: rgba(129, 129, 129);
}

.sc_shopping-cart__item {
  height: 110px;

}

 .sc_shopping-cart__item-data {
   padding: 10px 15px;
 }

.sc_shopping-cart__item__delete {
  width: 30px;
  vertical-align: top;


}

.sc_shopping-cart__item__delete__button {

}

.sc_shopping-cart__item__delete__button__img {
  width: 25px;
  height: 25px;
  object-fit: cover;
  filter: brightness(300%) grayscale(100%);
}

.sc_shopping-cart__item__delete__button__img:hover {
  filter: brightness(100%) grayscale(0);
}


.sc_shopping-cart__item__photo {

}

.sc_shopping-cart__item__photo__img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.sc_shopping-cart__item__photo__img:hover {
  transform: scale(1.15);
}

.sc_shopping-cart__item__description {
  min-width: 180px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.sc_shopping-cart__item__description__name {
  text-overflow: ellipsis;
}

.sc_shopping-cart__item__description__name__link {
  text-decoration: none;
  color: #000000;
}

.sc_shopping-cart__item__description__name__link:hover {
  text-decoration: underline;
  text-decoration-color: #BDCB96;
}

.sc_shopping-cart__item__description__price {
  align-self: flex-end;
  font-style: italic;

}

.sc_shopping-cart__item__quantity {
  text-align: center;

}

.sc_shopping-cart__item__quantity__field {
  display: inline-block;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  margin: 5px;
  vertical-align: middle;
  border-radius: 4px;
}

.item-qty-button {
  width: 20px;
  height: 20px;
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  background-color: #ffffff;
  border: 0;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #cccccc;
  margin: 5px;
  vertical-align: middle;
}

.item-qty-button:hover {
  transform: scale(1.1);
}

.sc_shopping-cart__item__sum {
  width: 60px;
}

.sc_shopping-cart__total {

}

.sc_shopping-cart__order {

}
